<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/vendors/normalize.min.css'/>
    <link rel='stylesheet' href='/build/styles/main.css'/>
</head>
<body>

  <div id="app"></div>

  <script src="/build/js/bundle.js"></script>
</body>
</html>
